<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>✈️ Xây dựng hệ thống đặt vé máy bay</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://github.com/zatalav/OOP_N03_Term3_2025_K17_Group1" class="simple-text">
                    <i class="fas fa-plane"></i> NHÓM 1
                </a>
            </div>
            <ul class="nav">
                <li class="active"><a th:href="@{/admin/dashboard}"><i class="fa-solid fa-chart-simple"></i><p>Bảng điều khiển</p></a></li>
                <li><a th:href="@{/admin/CustomersDetails}"><i class="fa-solid fa-user"></i><p>Hành khách</p></a></li>
                <li><a th:href="@{/admin/flights}"><i class="fa-solid fa-plane"></i><p>Chuyến bay</p></a></li>
                <li><a th:href="@{/admin/ticketDetails}"><i class="fa-solid fa-ticket"></i><p>Vé</p></a></li>
                <li><a th:href="@{/admin/revenue}"><i class="fa-regular fa-bell"></i><p>Thống kê doanh thu</p></a></li>
                <li class="active-pro"><a th:href="@{/admin/adminLogin}"><i class="fa-solid fa-right-from-bracket"></i><p>Đăng xuất</p></a></li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar">
            <ul class="navbar-menu">
                <li><a href="#">Admin</a></li>
            </ul>
        </nav>
        <div class="content">
            <h3 class="text-center">Chào mừng đến với hệ thống quản lý đặt vé máy bay</h3>
            <div class="text-center mt-4">
                <img src="https://tse1.mm.bing.net/th/id/OIP.QTffXxihWxOMf6tte7S4jwHaEW?rs=1&pid=ImgDetMain&cb=idpwebpc2" alt="Banner máy bay">
            </div>
            <p class="text-center mt-3">Đặt vé dễ dàng - Nhanh chóng - Tiện lợi!</p>
        </div>
    </div>
</div>
</body>
</html>