<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm chuyến bay</title>
</head>
<body>
<h1>Thêm chuyến bay</h1>
<form th:action="@{/flights/save}" th:object="${flight}" method="post">
    Mã: <input type="text" th:field="*{code}"/><br/>
    Điểm đi: <input type="text" th:field="*{origin}"/><br/>
    Điểm đến: <input type="text" th:field="*{destination}"/><br/>
    Ngày: <input type="date" th:field="*{date}"/><br/>
    <button type="submit">Lưu</button>
</form>
</body>
</html>